<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="dropdown.js"></script>
<%= stylesheet_link_tag "style.css" %>
<!--[if IE]>
<link href="iefix.css" rel="stylesheet" type="text/css" />
<![endif]-->
<title>LCOS: <%= @title %></title>
</head>
<body>

<div id="mainhead">
<%= image_tag "header.jpg", :alt=>"The Evangelical Lutheran Church of Our Savior Haddonfield" %></div>

<div id="block"><br /></div>  

  <div id="navi">
      <ul id="nav">
      <li><a href="/index.html">Home</a></li>
      <li><a href="/about.html">About the Church &raquo;</a>
	<ul>
		<li><a href="/bios.html">Our Pastors</a></li>
		<li><a href="/pr.html">Press Releases</a></li>
		<li><a href="/archives.html">Archives</a></li>
	 </ul> 
	 </li>
      <li><a href="/services.html">Services</a></li>
      <li><a href="/calendar.pdf">Calendar</a></li>
      <li><a href="/schedules.html">Schedules</a></li>
      <li><a href="/sermons.html">Sermons</a></li>
      <li><a href="/growth.html">Grow With Us</a></li>
      <li><a href="/ministries.html">Ministries &raquo;</a>
	<ul>
	<li><a href="/ministries/christianeducation.html">Christian Education</a></li>
	<li><a href="/ministries/communications.html">Communications</a></li>
	<li><a href="/ministries/fellowship.html">Fellowship</a></li>
	<li><a href="/ministries/finance.html">Church Finances</a></li>
	<li><a href="/ministries/outreach.html">Outreach</a></li>
	<li><a href="/ministries/property.html">Church Property</a></li>
	<li><a href="/ministries/senior.html">Senior Ministries</a></li>
	<li><a href="/ministries/socialministry.html">Social Ministries</a></li>
	<li><a href="/ministries/worshipandmusic.html">Worship and Music</a></li>
	<li><a href="/ministries/other.html">Additional Ministries</a></li>
	</ul>
	</li>
      <li><a href="/adultforum.html">Adult Forum</a></li>
      <li><a href="/fellowship.html">Fellowship</a></li>
      <li><a href="/youth.html">Youth &raquo;</a>
	<ul>
	<li><a href="/youthgroup.html">Youth Group</a></li>
	</ul>
	</li>
      <li><a href="/choirs.html">Our Choirs</a></li>
      <li><a href="/directions.html">Directions</a></li>
      <li><a href="/contact.html">Contact Us</a></li>
      <li><a href="#">Links &raquo;</a>
	<ul>
	<li><a href="http://www.elca.org/" target="_blank">ELCA</a></li>
      	<li><a href="http://www.njsynod.org/" target="_blank">NJ Synod</a></li>
	</ul>
	</li>
      </ul> <br />
    </div>

<div id="container">
<%= yield :content_header %>
<div id="content">
<%= yield %>
</div>
</div>
</body>
</html>
